:root {
    --md-primary-fg-color: rgb(119, 119, 119) !important;
    --md-primary-fg-color--light: black !important;
    --md-primary-fg-color--dark: black !important;

    --md-accent-fg-color: red;
    --md-accent-fg-color--light: red;
}

.md-tabs__link {
    color: white;
}

.md-tabs__item:last-child a.md-tabs__link:last-child {
    color: blue !important;
    font-style: italic;
    font-weight: bold;
}