:root {
    --md-primary-fg-color: rgb(119, 119, 119) !important;
    --md-primary-fg-color--light: black !important;
    --md-primary-fg-color--dark: black !important;

    --md-accent-fg-color: red;
    --md-accent-fg-color--light: red;
}

.md-tabs__link {
    color: white;
}

/*
.md-tabs__item:last-child a.md-tabs__link:last-child {
    color: blue !important;
    font-style: italic;
    font-weight: bold;
}*/

button#show-email {
    border: 2px solid rgb(119, 119, 119);
    padding: 10px 12px;
    color: white;
    cursor: pointer;
    background-color: rgb(119, 119, 119);
}

button#show-email:hover,
button#show-email:focus {
    color: rgb(119, 119, 119);
    background-color: white;
}

#avertissement {
    color: red;
    font-weight: bold;
    border: 2px solid red;
    text-align: center;
}